<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>p5!</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
  <script src="../static/script.js"></script>

  <style>
  body {
      margin: 0;
      padding: 0;
  }
  canvas {
    margin: 20px;
    background-color: rgb(200, 200, 200);
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
  }

  #result {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: black;
  }
  </style>
</head>
<body>
  <div id="result"></div>
</body>
</html>
